<footer class="footer" style="background: #9d9d9e; color: white; padding: 20px; margin-top:20px; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="text-center text-dark">
                <ul class="list-unstyled">
                    <li><a href="#" style="color: black;">Privacy Policy</a></li>
                    <li><a href="#" style="color: black;">Terms of Service</a></li>
                </ul>
                <p style="font-weight: bold;"> Copyright &copy;2023 All rights reserved | Powered by <a href="https://www.instagram.com/lencho_fj" target="_blank" style="color: blue;">Lencho F</a></p>
            </div>
        </div>
    </div>
</footer>
